<header class="mb-4">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">botchirecipe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
     　<% if logged_in? %>
          <li class="nav-item pr-10">
          <%= form_tag '/recipes/search', :method => 'get' do %>
          <div class="input-group">
              <%= text_field_tag :keyword, params[:keyword], placeholder: "レシピ検索", class: "form-control", size:25 %>
              <span class="input-group-btn">
                  <%= button_tag "検索", :name => nil, class: "btn btn-secondary" %>
              </span>
          </div>
          <% end %>
          </li>
          <li class="nav-item"><%= link_to 'ユーザ一覧', users_path, class: 'nav-link' %></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'マイページ', user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </li>
          <li class="nav-item dropdown nav-recipe">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">レシピを見る</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to '全てのレシピを見る', all_recipes_recipes_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'レシピランキング', ranking_recipes_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to '投稿者ランキング', contributor_rank_users_path %></li>
            </ul>
          </li>
        <% else %>
        <li class="nav-item"><%= link_to '新規登録',signup_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'ログイン',login_path, class: 'nav-link' %></li>
      　<% end %>
      </ul>
    </div>
  </nav>
</header>